/* Make Montserrat available to all users */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2)
format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC,
U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Subtle use of LPC 2020 colors inside BBB */
root: {
   --color-primary: #4e94af;
   --color-off-white: #f6f6f6;
}

/* Switch to LPC 2020 font everywhere, seems to work find */
* {
    font-family: "Montserrat";
}

/* Reveal the interactive resize area */
span[class^=resizeWrapper] div {
   background-color: rgba(7, 49, 94, 0.8);
}

/* Hide the End Meeting menu entry */
/* Seems dropdown-item-label-15 always is the End Meeting entry */
li[aria-labelledby="dropdown-item-label-15"] {
   display: none;
}

