[Unit]
Description=The LPC BBB front-end system

[Service]
User=lpcfe
WorkingDirectory=/home/lpcfe/lpcfe
ExecStart=/home/lpcfe/lpcfe/lpcfe -c /home/lpcfe/lpcfe-config
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
